body {
  background-color: #f6f4ec;
}

.grayscale {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  filter: grayscale(100%);
}
/* page content */
header {
  text-align: left;
  position: inline-block;
}

h1,
h2 {
  font-family: "Source Serif Pro", serif;

  color: rgb(26, 26, 26);
}

h1 {
  font-size: 2rem;
  margin-top: 20px;
}

h2 {
  font-size: 1rem;
}

.figma {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-align: center;
  background-color: #f6f4ec;
  outline: #f6f4ec;
  border-color: #f6f4ec;
}
